*
    padding: 0
    margin: 0
    box-sizing: border-box
    border: none
    outline: none

:root
    --prime: 48, 63, 159
    --white: #fff
    --black: 47,47,47
    --dark: #000
    --gray: #747474
    --neutral: #C3C3C3
    --green: #00C896
    --red: #E61717
    --bg: #FAFAFA

$alfa: rgba(0, 0, 0, 0)
$prime: rgb(var(--prime))
$black: rgb(var(--black))
$dark: rgb(var(--dark))
$white: var(--white)
$gray: var(--gray)
$neutral: var(--neutral)
$green: var(--green)
$red: var(--red)
$bg: var(--bg)

body, html
    font-family: "Manrope", sans-serif
    font-weight: 400
    font-style: normal
    font-optical-sizing: auto
    color: $black

body
    min-height: 100vh
    background-color: $bg
    position: relative
    z-index: 1
    &.is_active
        overflow: hidden

    @media screen and ( min-width: 1400px )
        background-position: center center
        background-image: url('../img/bg.jpg')

.container
    max-width: 1400px
    width: 100%
    margin: 0 auto
    padding: 0 20px

h1, h2, h3, h4, h5, h6
    margin: 0
    font-family: 'Alegreya Sans', sans-serif
    font-weight: 700
    font-size: 32px
    line-height: 100%
    margin: 0 0 20px

h3, .h3

img
    display: block
    max-width: 100%

a,
button
    color: $black
    text-decoration: none
    transition: all ease .3s
    background-color: transparent
    &:hover
        opacity: .5

    &:active
        opacity: 1
        transform: scale(.98)

p
    font-size: 16px
    font-weight: 400
    line-height: 115%
    margin-bottom: 12px
    &.--md
        font-weight: 400
        font-size: 20px
        letter-spacing: .3px
        margin-bottom: 20px

    &:last-child
        margin-bottom: 0 !important

.btn
    font-weight: 600
    font-size: 18px
    line-height: 100%
    gap: 10px
    min-height: 53px
    min-width: 248px
    width: fit-content
    border-radius: 8px
    padding: 14px 28px
    text-align: center
    color: white
    background-color: $prime
    &.--sm
        min-height: 35px
        padding: 8px 14px
        font-size: 16px
        border-radius: 6px
        min-width: unset

    &.--md
        padding: 12px 24px
        min-width: 129px
        min-height: 46px

    &:active
        opacity: 1

    &:disabled
        background-color: #E7E7F0
        cursor: progress

    @media screen and ( max-width: 720px )
        font-size: 16px
        min-height: 43px
        padding: 8px 16px
        min-width: 129px
        border-radius: 6px

        &.--md
            font-size: 12px
            padding: 8px 16px
            min-width: 85px
            min-height: 32px

        &.--sm
            min-height: 30px
            font-size: 14px
            padding: 5px 10px

.link
    font-size: 16px
    line-height: 100%
    color: $prime
    &:hover
        text-decoration: underline

    @media screen and ( max-width: 720px )
        font-size: 14px

.w-full
    width: 100% !important

.c
    &-gray
        color: rgba(var(--black), .7)
    &-base
        color: $black
    &-prime
        color: $prime

ul
    list-style: none

[class^=fx-], [class*=" fx-"], .btn, body, .fx
    display: flex

.fx-col, body
    flex-direction: column

.fx-jc, .btn
    justify-content: center
.fx-ac, .btn
    align-items: center
.fx
    &-ac
        align-items: center

    &-je
        justify-content: flex-end

    &-col
        flex-direction: column

    &-w
        flex-wrap: wrap

    &-as
        align-items: flex-start

    &-jb
        justify-content: space-between

    &-ae
        align-items: end

label
    display: block
    line-height: 100%

input
    border: 1px solid #2F2F2F26
    height: 68px
    width: 100%
    font-weight: normal
    padding: 0 14px
    background-color: $white
    font-size: 16px
    &:focus
        border-color: $black

    &:placeholder-shown
        border-color: $neutral
        &:focus
            border-color: $black

    &::placeholder
        color: #9E9EAB

.mb
    &-8
        margin-bottom: 8px
    &-12
        margin-bottom: 12px

.g
    &-12
        gap: 12px

    @media screen and ( max-width: 720px )
        &-12
            gap: 8px

.box
    border-radius: 15px
    padding: 25px 40px
    background-color: rgba(var(--prime), .2)
    &__descr
        font-weight: 500
        color: rgba(var(--black), .7)
    &__headline,
    &__heading
        font-weight: 700
        font-size: 28px
        line-height: 100%
        margin-bottom: 8px

    &__headline
        margin-bottom: 12px
        color: $prime

    &__stat
        font-weight: 500
        color: rgba(var(--black), .7)
        font-size: 18px
        &::after
            content: ''
            display: inline-block
            vertical-align: middle
            width: 10px
            height: 10px
            border-radius: 50%
            background-color: rgba(59, 218, 3, 1)
            margin: 0 0 2px 14px

    .btn
        margin-top: 22px

    @media screen and ( max-width: 1100px )
        padding: 22px 32px
        border-radius: 10px
        &__headline,
        &__heading
            font-size: 24px

        .btn
            margin-top: 18px

    @media screen and ( max-width: 720px )
        padding: 12px 18px
        &__headline,
        &__heading
            font-size: 20px

.ic
    fill: none
    width: 20px
    height: 20px
    stroke: $black

.t
    &-xl
        font-size: 20px
        line-height: 100%

    &-lg
        font-size: 18px
        line-height: 100%

    &-md
        font-size: 16px
        line-height: 100%

    &-sm
        font-size: 14px
        line-height: 100%

    &-xs
        font-size: 12px
        line-height: 100%

    &-xxs
        font-size: 10px
        line-height: 100%

    @media screen and ( max-width: 1100px )
        &-xl
            font-size: 18px
        &-lg
            font-size: 16px
        &-md
            font-size: 14px
        &-sm
            font-size: 12px
        &-xs
            font-size: 10px
        &-xxs
            font-size: 8px

    @media screen and ( max-width: 720px )
        &-lg
            font-size: 14px
        &-md
            font-size: 12px
        &-sm
            font-size: 10px
        &-xs
            font-size: 8px

[class*=" t-"]
    &.--700
        font-weight: 700

    &.--600
        font-weight: 600

    &.--400
        font-weight: 400

.tb
    @media screen and ( max-width: 992px )
        &-hide
            display: none
    @media screen and ( min-width: 992px )
        &-show
            display: none

.inp-check
    position: relative
    z-index: 1
    margin-bottom: 31px
    label
        font-weight: 500
        font-size: 12px
        line-height: 15px
        display: block
        position: relative
        text-align: left
        z-index: 1
        padding: 0 0 0 23px
        &::before
            content: ""
            display: inline-block
            position: absolute
            box-sizing: border-box
            left: 0
            top: 0
            width: 15px
            height: 15px
            border: 1px solid $neutral

            background-repeat: no-repeat
            background-position: center center
            background-size: 0% auto
            background-image: url('../media/check.svg')

    input
        display: block
        position: absolute
        top: 0
        left: 0
        margin: 0
        opacity: 0
        padding: 0
        min-height: 100%
        width: 100%
        cursor: pointer
        height: 100%
        z-index: 111
        &:checked ~ label::before
            background-size: 75% auto
            border-color: $prime

mark
    color: $prime
    background-color: $alfa

audio
    width: 100%
    height: 60px
    max-width: 865px
    margin-bottom: 30px

section
    padding: 50px 0
    @media screen and ( max-width: 1100px )
        padding: 30px 0 
    
    @media screen and ( max-width: 720px )
        padding: 20px 0

@keyframes fadeIn
    0%
        opacity: 0
        transform: translateY(20px)
    100%
        opacity: 1
        transform: translateY(0px)

@media screen and ( max-width: 992px )
    p
        font-size: 14px
        &.--md
            font-size: 16px

@media screen and ( max-width: 720px )
    input
        font-size: 14px
