@import 'normolize'
@import 'fonts'
@import 'elements'
@import 'header'
@import 'player'

.breadcrumb
    margin-bottom: 35px
    &-list
        gap: 3px 0

    &-item
        a
            display: block
            opacity: .5
            font-weight: 500
            font-size: 14px
            line-height: 100%
            letter-spacing: 0%
            &::after
                content: '/'
                margin: 0 8px
                opacity: .5

            &:hover
                opacity: 1

        &:last-child
            pointer-events: none
            a
                opacity: 1
                &::after
                    display: none

    @media screen and ( max-width: 1100px )
        margin-bottom: 20px
        &-item
            a
                font-size: 12px

    @media screen and ( max-width: 720px )
        margin-bottom: 13px
        &-item
            a
                font-size: 10px
                &::after
                    margin: 0 3px

main
    padding-bottom: 50px
    .container
        width: calc( 100% - 40px )
        padding: 40px 50px
        max-width: 1360px
        border-radius: 25px
        background-color: $white
        box-shadow: 0px 4px 40px 0px #12121208

    &>section:first-child
        padding-top: 0
    &>section:last-child
        padding-bottom: 0

    @media screen and ( max-width: 1100px )
        padding-bottom: 30px
        .container
            padding: 20px 30px
            border-radius: 15px

    @media screen and ( max-width: 720px )
        .container
            padding: 15px 20px
            box-shadow: 0px 4px 33px 0px #12121208

.main
    &-user
        text-align: center
        margin-bottom: 30px
        &__ic
            width: 85px
            height: 85px
            border-radius: 50%
            margin: 0 auto 8px

        &__name
            font-weight: 700
            line-height: 120%
            color: $prime
            overflow: hidden
            text-overflow: ellipsis

        &__stat
            display: block
            text-align: left
            background-color: #fff
            background-image: linear-gradient(90deg, $prime 0%, rgba(var(--prime), .8) 100%)
            color: $white
            padding: 13px 43px
            margin-bottom: 30px
            border-radius: 8px
            &>*
                display: block

        &__active
            margin-top: 8px
            &::after
                content: ''
                display: inline-block
                vertical-align: middle
                width: 5px
                height: 5px
                border-radius: 50%
                background-color: $green
                margin-left: 10px

    &-nav
        .ic
            width: 30px
            height: 30px

        &__link
            padding: 14px 18px
            gap: 12px
            font-weight: 600
            border-radius: 8px
            &.active,
            &:hover
                opacity: 1
                color: $prime
                background-color: #F4F4F4
                .ic
                    stroke: $prime

    &-wrap
        &>*
            --itemW: 278
            --contW: 1260
            width: calc(var(--itemW)/var(--contW)*100%)
            &:first-child

            &:last-child
                --itemW: 932
                margin-left: auto

    &-sub
        border: 1px solid #2F2F2F33
        padding: 30px 40px
        border-radius: 20px
        &__heading
            font-weight: 700
            font-size: 32px
            line-height: 100%
            margin-bottom: 20px

        &__check
            margin-bottom: 25px
            .ic
                width: 24px
                height: 24px

    @media screen and ( max-width: 1100px )
        &-sub
            padding: 22px 28px
            &__heading
                font-size: 28px
                margin-bottom: 16px

            &__check
                margin-bottom: 20px

        &-user
            margin-bottom: 22px
            &__ic
                width: 70px
                height: 70px
                margin-bottom: 4px

            &__stat
                margin-bottom: 22px
                padding: 10px 30px

            &__active
                margin-top: 4px

        &-nav
            &__link
                padding: 10px 15px

            .ic
                width: 26px
                height: 26px

    @media screen and ( max-width: 992px )
        &-wrap
            &>*
                width: 100%

        &-user
            &__ic
                width: 60px
                height: 60px
                margin-bottom: 2px

            &__stat
                width: fit-content
                min-width: 290px
                margin: 0 auto 20px

        &-nav
            width: calc( 100% + 60px )
            position: relative
            left: -30px
            padding: 0
            overflow-x: scroll
            margin: 0 auto 20px
            flex-direction: row
            &>*
                border-radius: 0
                border-bottom: 1px solid rgba(var(--black), .2)
                width: 50%
                padding: 14px 18px
                justify-content: center

            &__link
                &.active,
                &:hover
                    border-color: $prime
                    background-color: transparent

        &-sub
            padding: 20px 25px
            border-radius: 15px
            &__heading
                font-size: 24px
                margin-bottom: 14px

            &__check
                margin-bottom: 18px

    @media screen and ( max-width: 720px )
        &-user
            margin-bottom: 18px
            &__stat
                width: 100%
                min-width: unset
                margin: 0 auto 18px

        &-nav
            left: -20px
            width: calc( 100% + 40px )
            &__link
                padding: 10px
                gap: 8px

            .ic
                width: 22px
                height: 22px

        &-sub
            padding: 0
            border: none
            &__heading
                font-size: 22px
                margin-bottom: 12px

            &__check
                margin-bottom: 16px

.answer
    &-header
        gap: 8px
        margin: 0 0 20px

    &-col
        gap: 20px

    &-tag
        gap: 13px
        color: $prime
        background-color: rgba(var(--prime), .2)
        font-weight: 700
        font-size: 18px
        line-height: 1.366
        padding: 8px 22px
        border-radius: 6px
        margin: 0

        .ic
            width: 24px
            height: 24px
            stroke: $prime

        @media screen and (max-width: 1100px)
            font-size: 16px
            padding: 6px 18px
            gap: 10px

            .ic
                width: 20px
                height: 20px

        @media screen and (max-width: 720px)
            font-size: 14px
            padding: 4px 12px
            gap: 8px

            .ic
                width: 18px
                height: 18px

    &-card
        background-color: #F4F4F4
        border-radius: 15px
        padding: 15px 40px 25px
        position: relative
        margin-bottom: 20px
        &:last-of-type
            margin-bottom: 0

        &__title
            font-weight: 700
            font-size: 28px
            line-height: 120%
            margin-bottom: 8px

            @media screen and (max-width: 1100px)
                font-size: 24px

            @media screen and (max-width: 720px)
                font-size: 20px

        .btn
            width: 772px
            max-width: 100%
            margin-top: 20px

            @media screen and (max-width: 720px)
                margin-top: 16px

        &__date
            font-weight: 500
            font-size: 16px
            line-height: 1.366
            color: rgba(47, 47, 47, 0.7)
            margin-bottom: 10px

        &__variant
            font-weight: 500
            font-size: 20px
            line-height: 1.366
            color: #2F2F2F

    @media screen and (max-width: 1100px)
        &-card
            padding: 12px 30px 20px

    @media screen and (max-width: 720px)
        &-col
            gap: 10px
        &-card
            padding: 10px 20px 16px
            margin-bottom: 16px
        &-header
            margin-bottom: 10px

@import 'footer'
@import 'modal'

.headline
    font-weight: 500
    font-size: 40px
    line-height: 120%

    @media screen and (max-width: 1100px)
        font-size: 32px

    @media screen and (max-width: 720px)
        font-size: 28px

.test

    &__headline
        margin-bottom: 10px

    &-variant
        font-family: 'Manrope', sans-serif
        font-weight: 500
        font-size: 28px
        line-height: 136.6%
        margin-bottom: 40px

    @media screen and (max-width: 1100px)
        &__headline
            margin-bottom: 6px
        &-variant
            font-size: 24px
            margin-bottom: 26px

    @media screen and (max-width: 720px)
        &__headline
            margin-bottom: 2px
        &-variant
            font-size: 20px
            margin-bottom: 16px

    &-progress
        margin-bottom: 30px
        width: 50%
        min-width: 270px
        gap: 20px
        margin-left: auto

        @media screen and (max-width: 720px)
            margin-bottom: 20px
            gap: 15px

        &-bar
            width: 100%
            flex: 1
            height: 8px
            background-color: rgba(47, 47, 47, 0.1)
            border-radius: 4px
            overflow: hidden

            span
                display: block
                height: 100%
                background-color: $prime
                border-radius: 4px
                transition: width 0.3s ease

            @media screen and (max-width: 720px)
                height: 6px

    &-questions
        margin-bottom: 40px

    &__btns
        margin-top: 60px
        gap: 20px
        @media screen and (max-width: 1100px)
            margin-top: 40px
            gap: 15px
        @media screen and (max-width: 720px)
            margin-top: 30px
            gap: 10px
            flex-direction: column

.question
    margin-bottom: 40px
    &__heading
        margin-bottom: 8px
        font-weight: 500

    &-list
        padding-left: 25px
        li
            margin-bottom: 5px
            &:last-child
                margin-bottom: 0

            &.c-red 
                text-decoration: line-through

    &:last-child
        margin-bottom: 0

    @media screen and (max-width: 720px)
        margin-bottom: 30px
        &__heading,
        &-list
            font-size: 16px
        &-list
            padding-left: 20px

.question-title
    font-family: 'Manrope', sans-serif
    font-weight: 500
    font-size: 24px
    line-height: 136.6%
    margin-bottom: 30px

    @media screen and (max-width: 1100px)
        font-size: 20px
        margin-bottom: 20px

    @media screen and (max-width: 720px)
        font-size: 18px
        margin-bottom: 15px
        margin-top: 15px

.announcement
    background-color: rgba(48, 63, 159, 0.2)
    border-radius: 12px
    padding: 30px
    max-width: 865px
    margin-bottom: 30px
    position: relative
    z-index: 1
    &::before
        content: ''
        display: block
        width: 3px
        position: absolute
        left: 0
        top: 10px
        height: calc( 100% - 20px )
        background-color: $prime
        border-radius: 8px

    p
        font-weight: 500
        font-size: 20px
        line-height: 136.6%
        color: $black

    @media screen and (max-width: 1100px)
        padding: 20px

    @media screen and (max-width: 720px)
        padding: 15px
        margin-bottom: 20px

        p
            font-size: 16px

.question-options
    display: flex
    flex-direction: column
    gap: 12px

.option
    width: fit-content
    gap: 10px
    cursor: pointer
    label
        position: relative
        display: block
        font-weight: 500
        line-height: 136.6%
        cursor: pointer
        padding-left: 34px
        &::after,
        &::before
            content: ''
            width: 22px
            height: 22px
            border: 1px solid rgba(var(--black), 0.3)
            border-radius: 50%
            display: block
            flex-shrink: 0
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            transform-origin: 50% 50%

        &::after
            border-width: 6px
            border-color: $prime
            width: 12px
            height: 12px
            opacity: 0

    input[type="radio"]
        display: none

        &:checked + label
            color: $prime
            &::after
                opacity: 1

    input[type="radio"]:checked + label + &::before
                border-color: $prime
                background-color: $prime

.next-btn
    margin-left: auto
    .ic
        width: 18px
        height: 18px
        stroke: $white

    @media screen and (max-width: 720px)
        padding: 12px 40px
        font-size: 16px

.faq
    &__title
        margin-bottom: 29px

    &-item
        padding: 10px 0
        border-bottom: 1px solid rgba(var(--black), .2)
        &:last-child
            border-bottom: none

    &__heading
        padding: 10px 30px 10px 0
        font-weight: 500
        font-size: 24px
        line-height: 130%
        position: relative
        width: 100%
        text-align: left
        &::after
            content: '+'
            color: $prime
            display: block
            position: absolute
            padding: 0 6px
            right: 0
            top: 50%
            font-size: 32px
            transform: translateY(-50%)

        &::first-letter
            text-transform: uppercase

        &.active
            &::after
                content: '–'

    &__text
        display: none
        line-height: 140%
        max-width: 884px
        color: rgba(47, 47, 47, 0.7)

    @media screen and ( max-width: 720px )
        &__heading
            font-size: 18px
            line-height: 140%
            padding: 6px 30px 6px 0

        &__text
            font-size: 14px
            line-height: 140%

        &-item
            padding: 8px 0

.subs
    &__heading
        text-align: center
        font-weight: 500
        font-size: 55px

    &__descr
        text-align: center
        font-weight: 500
        line-height: 120%

    &-form
        max-width: 689px
        margin: 60px auto 0

    &-options
        margin-bottom: 30px
        gap: 15px

    &-card
        border-radius: 12px
        padding: 22px 35px
        width: 337px
        position: relative
        z-index: 1
        &.--prime
            padding-top: 0

        &__ic
            width: 35px
            height: 40px
            filter: drop-shadow(4px 4px 7.1px #00000014)
            margin-bottom: 8px

        &__title
            font-weight: 600
            font-size: 20px
            line-height: 1.366
            margin-bottom: 8px
            color: $prime

        &__price
            font-weight: 700
            font-size: 40px
            line-height: 1.366
            margin-bottom: 8px

        &__descr
            font-weight: 500
            font-size: 14px
            line-height: 1.366
            margin: 0
            color: rgba(var(--black), .5)

        label
            display: block
            position: absolute
            top: 0
            left: 0
            border: 1.5px solid rgba(var(--black), .2)
            width: 100%
            height: 100%
            border-radius: 12px
            transition: border-color .3s ease
            .ic
                display: block
                width: 27px
                height: 27px
                position: absolute
                top: 16px
                right: 12px
                border-radius: 50%
                border: 1px solid rgba(var(--black), .2)

        input
            position: absolute
            top: 0
            left: 0
            opacity: 0
            width: 100%
            height: 100%
            z-index: 11
            &:checked ~ label
                border-color: $prime
                border-width: 3px
                .ic
                    border-color: $alfa
                    fill: $prime
                    opacity: 1

    &-info
        margin-top: 16px
        color: rgba(var(--black), .4)

    @media screen and (max-width: 1100px)
        &__heading
            font-size: 40px

        &-card
            width: 300px
            padding: 20px 30px
            &__title
                font-size: 18px
            &__price
                font-size: 32px
            &__descr
                font-size: 12px

    @media screen and (max-width: 720px)
        &__heading
            font-size: 28px
            margin-bottom: 8px

        &__descr
            font-size: 12px

        &-form
            margin-top: 25px

        &-options
            flex-direction: column

        &-card
            width: 100%
            padding: 43px 25px 25px
            &__ic
                width: 26px
                height: 30px
            &__title
                font-size: 16px
                margin: 0
            &__price
                font-size: 28px
                margin-bottom: 15px
            &__descr
                font-size: 12px

        &-info
            margin-top: 12px

.contacts

    &__text
        font-weight: 500
        line-height: 136.6%

    &-wrap
        gap: 15px
        margin-top: 50px
    &-block
        border: 1.5px solid rgba(var(--black), .2)
        border-radius: 12px
        padding: 30px
        max-width: 317px
        width: 100%
        .ic
            width: 45px
            height: 45px
            display: block
            border-radius: 8px
            margin-bottom: 20px

        &:last-child
            margin-bottom: 0

        &__title
            font-weight: 700
            font-size: 26px
            line-height: 1.366
            margin-bottom: 8px

        &__subtitle
            font-weight: 500
            font-size: 14px
            line-height: 1.366
            color: rgba(var(--black), .5)
            margin-bottom: 20px

    @media screen and (max-width: 1100px)
        &-wrap
            margin-top: 30px
        &-block
            padding: 20px
            &__title
                font-size: 22px
            .ic
                width: 40px
                height: 40px

    @media screen and (max-width: 720px)
        &-wrap
            margin-top: 25px
        &-block
            padding: 15px
            &__title
                font-size: 20px
            .ic
                width: 35px
                height: 35px

.services
    padding: 40px 0

    &__text
        font-size: 17px
        font-weight: 500
        line-height: 1.5
        margin-bottom: 15px
    &__subtitle
        font-size: 24px
        font-weight: 700
        margin: 40px 0 20px
    &__ol
        list-style: decimal
        margin-left: 20px
        margin-bottom: 20px
        li
            font-size: 17px
            font-weight: 500
            line-height: 1.5
    &__requisites
        background: #f5f5f5
        padding: 20px
        border-radius: 8px
        margin-top: 40px
        &>*:first-child
            margin-top: 0
        &-title
            font-size: 18px
            font-weight: 700
            margin: 18px 0 10px
        &-text
            font-size: 16px
            line-height: 1.5
            margin-bottom: 2px

@media (max-width: 1100px)
    .services
        padding: 30px 0
        &__subtitle
            font-size: 22px
            margin: 30px 0 15px

@media (max-width: 720px)
    .services
        padding: 20px 0
        &__content
            padding: 0 15px
        &__text
            font-size: 14px
        &__subtitle
            font-size: 20px
            margin: 25px 0 15px
        &__list li
            font-size: 14px
        &__requisites
            padding: 15px
        &__requisites-title
            font-size: 16px
        &__requisites-text
            font-size: 14px

.answer-input
    width: 865px
    max-width: 100%
    height: 48px
    border: 1px solid rgba(47, 47, 47, 0.15)
    border-radius: 8px
    padding: 12px 22px
    font-size: 20px
    line-height: 1.366

.flags
    gap: 40px
    margin-top: 20px

.flag-option
    input[type="radio"]
        display: none
        &:checked + label
            .flag-circle
                border-width: 6px
                border-color: rgb(var(--prime))

    label
        gap: 10px
        cursor: pointer

    .flag-circle
        min-width: 35px
        width: 35px
        height: 35px
        border: 1px solid rgba(47, 47, 47, 0.3)
        border-radius: 50%
        transition: border-color 0.3s ease

    .flag-image
        width: 200px
        height: 120px
        overflow: hidden
        border-radius: 8px
        background-color: rgba(47, 47, 47, 0.1)
        border: 1px solid rgba(47, 47, 47, 0.1)
        object-fit: cover

@media (max-width: 1100px)
    .answer-input
        width: 100%
        height: 40px
        padding: 10px 18px
        font-size: 16px

    .flags
        gap: 25px

    .flag-option
        .flag-image
            width: 180px
            height: 100px

@media (max-width: 720px)
    .answer-input
        padding: 8px 15px
        font-size: 14px

    .flags
        gap: 15px

    .flag-option
        .flag-circle
            min-width: 25px
            width: 25px
            height: 25px
        .flag-image
            width: 100%
            height: 80px

.success
    text-align: center
    &__info
        background-color: rgba(var(--prime), .2)
        border-radius: 12px
        padding: 30px
        overflow: hidden
        gap: 20px
        text-align: left
        max-width: 865px
        margin: 50px auto 0
        position: relative

        .ic
            position: absolute
            top: -20px
            right: -20px
            width: 40px
            height: 40px
            min-width: 40px
            stroke: $prime

        &-title
            font-size: 24px
            font-family: 'Manrope', sans-serif
            line-height: 120%
            margin-bottom: 15px
            color: $prime

        &-text
            font-size: 16px
            line-height: 140%
            color: rgba(var(--black), .7)
            margin-bottom: 10px
            &:last-child
                margin-bottom: 0

    .btn
        min-width: 528px
        margin: 50px auto 0

    @media screen and (max-width: 1100px)

        &__info
            padding: 25px
            max-width: 700px
            margin: 30px auto 0

            .ic
                width: 35px
                height: 35px
                top: -15px
                right: -15px

            &-title
                font-size: 20px
                margin-bottom: 12px

            &-text
                font-size: 14px

        .btn
            margin-top: 35px
            min-width: 400px

    @media screen and (max-width: 720px)

        &__info
            padding: 20px
            max-width: 100%
            margin: 30px auto 0
            .ic
                width: 30px
                height: 30px
                top: -10px
                right: -10px

            &-title
                font-size: 18px
                margin-bottom: 10px

            &-text
                font-size: 12px

        .btn
            margin-top: 30px
            min-width: 100%
